.formContainer {
    margin: 150px auto !important;
    max-width: 991px;
}

.formContainer input {
    border: none;
}

.borderDiv {
    height: 2px;
    background-color: #ccc;
    width: 100%;
    margin-top: 10px;
}

.btnSubmit {
    background-color: #4BADE1;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    height: 45px;
    width: 100%;
}

#verifyCodeInput {
    width: 400px;
    height: 300px;
    padding: 50px;
    margin: 100px auto;

}